@charset "UTF-8";
:root {
  --rct-indian-red: #b34f4f;
  --rct-indian-red-lighter: #c76767;
  --rct-indian-red-darker: #7b1312;
  --rct-dark-indian-red: #530000;
  --rct-light-grey: #839797;
  --rct-light-grey-lighter: #9fafaf;
  --rct-light-grey-darker: #5b7373;
  --rct-dark-grey: #3f5353;
  --rct-white: #d3dbdb;
  --rct-white-lighter: #eff3f3;
  --rct-white-darker: #9fafaf;
  --rct-white-inactive-tab-background: #b7c3c3;
  --rct-white-inactive-tab-darker: #839797;
  --rct-gold: #a76f07;
  --rct-gold-lighter: #bf8b0f;
  --rct-gold-darker: #773f00;
  --rct-dark-gold: #4b2200;
  --light-link: #66a5ff;
  --rct-indian-red-0: #230000;
  --rct-indian-red-1: #4F0000;
  --rct-indian-red-2: #5F0707;
  --rct-indian-red-3: #6F0F0F;
  --rct-indian-red-4: #7F1B1B;
  --rct-indian-red-5: #8F2727;
  --rct-indian-red-6: #A33B3B;
  --rct-indian-red-7: #B34F4F;
  --rct-indian-red-8: #C76767;
  --rct-indian-red-9: #D77F7F;
  --rct-indian-red-10: #EB9F9F;
  --rct-indian-red-11: #FFBFBF;
  --rct-grey-0: #172323;
  --rct-grey-1: #233333;
  --rct-grey-2: #2F4343;
  --rct-grey-3: #3F5353;
  --rct-grey-4: #4B6363;
  --rct-grey-5: #5B7373;
  --rct-grey-6: #6F8383;
  --rct-grey-7: #839797;
  --rct-grey-8: #9FAFAF;
  --rct-grey-9: #B7C3C3;
  --rct-grey-10: #D3DBDB;
  --rct-grey-11: #EFF3F3;
  --rct-blue-0: #001b6f;
  --rct-blue-1: #002797;
  --rct-blue-2: #0733a7;
  --rct-blue-3: #0f43bb;
  --rct-blue-4: #1b53cb;
  --rct-blue-5: #2b67df;
  --rct-blue-6: #4387e3;
  --rct-blue-7: #5ba3e7;
  --rct-blue-8: #77bbef;
  --rct-blue-9: #8fd3f3;
  --rct-blue-10: #afe7fb;
  --rct-blue-11: #d7f7ff; }

body.skin-vector {
  background: url("https://static.miraheze.org/rctwiki/0/01/Mowedgrass.png"); }
  body.skin-vector div.mw-page-container {
    background-color: transparent; }
    body.skin-vector div.mw-page-container header.mw-header #mw-sidebar-button {
      background-color: var(--rct-grey-7);
      border-top: 1px solid var(--rct-grey-8);
      border-left: 1px solid var(--rct-grey-8);
      border-right: 1px solid var(--rct-grey-5);
      border-bottom: 1px solid var(--rct-grey-5);
      font-weight: bold;
      color: white;
      height: 44px;
      width: 44px; }
    body.skin-vector div.mw-page-container header.mw-header nav.vector-user-links ul.vector-menu-content-list > #pt-userpage-2 {
      background-color: var(--rct-grey-7);
      border-top: 1px solid var(--rct-grey-8);
      border-left: 1px solid var(--rct-grey-8);
      border-right: 1px solid var(--rct-grey-5);
      border-bottom: 1px solid var(--rct-grey-5);
      font-weight: bold;
      color: white;
      height: 44px;
      width: 44px;
      width: auto;
      display: inline-flex;
      align-items: center; }
    body.skin-vector div.mw-page-container header.mw-header nav.vector-user-links ul.vector-menu-content-list > #pt-notifications-alert {
      background-color: var(--rct-grey-7);
      border-top: 1px solid var(--rct-grey-8);
      border-left: 1px solid var(--rct-grey-8);
      border-right: 1px solid var(--rct-grey-5);
      border-bottom: 1px solid var(--rct-grey-5);
      font-weight: bold;
      color: white;
      height: 44px;
      width: 44px; }
      body.skin-vector div.mw-page-container header.mw-header nav.vector-user-links ul.vector-menu-content-list > #pt-notifications-alert a {
        background-image: url("https://static.miraheze.org/rctwiki/7/74/Notifications.png"); }
    body.skin-vector div.mw-page-container header.mw-header nav.vector-user-links ul.vector-menu-content-list > #pt-notifications-notice {
      background-color: var(--rct-grey-7);
      border-top: 1px solid var(--rct-grey-8);
      border-left: 1px solid var(--rct-grey-8);
      border-right: 1px solid var(--rct-grey-5);
      border-bottom: 1px solid var(--rct-grey-5);
      font-weight: bold;
      color: white;
      height: 44px;
      width: 44px; }
      body.skin-vector div.mw-page-container header.mw-header nav.vector-user-links ul.vector-menu-content-list > #pt-notifications-notice a {
        background-image: url("https://static.miraheze.org/rctwiki/4/4f/Newspaper.png"); }
    body.skin-vector div.mw-page-container header.mw-header nav.vector-user-links ul.vector-menu-content-list > #pt-watchlist-2 {
      background-color: var(--rct-grey-7);
      border-top: 1px solid var(--rct-grey-8);
      border-left: 1px solid var(--rct-grey-8);
      border-right: 1px solid var(--rct-grey-5);
      border-bottom: 1px solid var(--rct-grey-5);
      font-weight: bold;
      color: white;
      height: 44px;
      width: 44px; }
      body.skin-vector div.mw-page-container header.mw-header nav.vector-user-links ul.vector-menu-content-list > #pt-watchlist-2 a:before {
        background-image: url("https://static.miraheze.org/rctwiki/8/80/Watchlist-icon.png"); }
    body.skin-vector div.mw-page-container header.mw-header #p-personal {
      background-color: var(--rct-grey-7);
      border-top: 1px solid var(--rct-grey-8);
      border-left: 1px solid var(--rct-grey-8);
      border-right: 1px solid var(--rct-grey-5);
      border-bottom: 1px solid var(--rct-grey-5);
      font-weight: bold;
      color: white;
      height: 44px;
      width: 44px; }
    body.skin-vector div.mw-page-container #vector-page-tools .vector-menu {
      background-color: var(--rct-indian-red);
      border-top: 1px solid var(--rct-indian-red-5);
      border-left: 1px solid var(--rct-indian-red-5);
      border-right: 1px solid var(--rct-indian-red-8);
      border-bottom: 1px solid var(--rct-indian-red-8); }
      body.skin-vector div.mw-page-container #vector-page-tools .vector-menu > *:first-child {
        padding: 2px;
        color: var(--rct-white-lighter);
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
        background-color: var(--rct-blue-1);
        border-top: 1px solid var(--rct-blue-5);
        border-left: 1px solid var(--rct-blue-5);
        border-right: 1px solid var(--rct-blue-8);
        border-bottom: 1px solid var(--rct-blue-8);
        margin: 0; }
      body.skin-vector div.mw-page-container #vector-page-tools .vector-menu > *:nth-child(2) {
        margin-left: 0;
        padding-bottom: 0.3em; }
        body.skin-vector div.mw-page-container #vector-page-tools .vector-menu > *:nth-child(2) li {
          padding-left: 0.5em; }
        body.skin-vector div.mw-page-container #vector-page-tools .vector-menu > *:nth-child(2) li:hover {
          background-color: var(--rct-indian-red-5); }
        body.skin-vector div.mw-page-container #vector-page-tools .vector-menu > *:nth-child(2) a {
          color: white; }
    body.skin-vector div.mw-page-container #mw-panel #vector-main-menu {
      background-color: var(--rct-blue-7);
      border-top: 1px solid var(--rct-blue-8);
      border-left: 1px solid var(--rct-blue-8);
      border-right: 1px solid var(--rct-blue-5);
      border-bottom: 1px solid var(--rct-blue-5);
      padding: 0; }
      body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-main-menu-pinnable-header {
        padding: 2px;
        color: var(--rct-white-lighter);
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
        background-color: var(--rct-blue-1);
        border-top: 1px solid var(--rct-blue-5);
        border-left: 1px solid var(--rct-blue-5);
        border-right: 1px solid var(--rct-blue-8);
        border-bottom: 1px solid var(--rct-blue-8);
        display: flex;
        padding: 0; }
        body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-main-menu-pinnable-header .vector-pinnable-header-label {
          color: #ffffff;
          flex-grow: 1; }
        body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-main-menu-pinnable-header .vector-pinnable-header-unpin-button {
          width: 18px;
          height: 18px;
          border-width: 1px;
          border-style: solid;
          overflow: hidden;
          display: inline-block;
          color: transparent;
          position: relative;
          background-color: var(--rct-blue-7);
          border-top-color: var(--rct-blue-8);
          border-left-color: var(--rct-blue-8);
          border-right-color: var(--rct-blue-5);
          border-bottom-color: var(--rct-blue-5); }
          body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-main-menu-pinnable-header .vector-pinnable-header-unpin-button::before {
            content: '×';
            color: black;
            width: 16px;
            position: absolute;
            line-height: 14px; }
      body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-main-menu-action-opt-out {
        display: none; }
      body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-menu {
        border-top: 1px solid var(--rct-blue-8);
        border-left: 1px solid var(--rct-blue-8);
        border-right: 1px solid var(--rct-blue-5);
        border-bottom: 1px solid var(--rct-blue-5);
        position: relative;
        margin: 15px 5px 5px 5px;
        padding: 0; }
        body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-menu > * {
          border-top: 1px solid var(--rct-blue-5);
          border-left: 1px solid var(--rct-blue-5);
          border-right: 1px solid var(--rct-blue-8);
          border-bottom: 1px solid var(--rct-blue-8); }
        body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-menu + * {
          margin-top: 1em; }
        body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-menu .vector-menu-heading {
          position: absolute;
          color: white;
          border: 0;
          left: 7px;
          top: -15px;
          background: var(--rct-blue-7);
          font-weight: bold; }
        body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-menu .vector-menu-content {
          padding: 15px 5px 5px 5px; }
          body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-menu .vector-menu-content ul li a, body.skin-vector div.mw-page-container #mw-panel #vector-main-menu .vector-menu .vector-menu-content ul li a:visited {
            color: white; }
    body.skin-vector div.mw-page-container #content > header h1 {
      padding: 2px;
      color: var(--rct-white-lighter);
      text-align: center;
      font-weight: bold;
      font-family: sans-serif;
      background-color: var(--rct-indian-red-2);
      border-top: 1px solid var(--rct-indian-red-8);
      border-left: 1px solid var(--rct-indian-red-8);
      border-right: 1px solid var(--rct-indian-red-5);
      border-bottom: 1px solid var(--rct-indian-red-5);
      border-top: 1px solid var(--rct-indian-red-8);
      border-left: 1px solid var(--rct-indian-red-8);
      border-right: 1px solid var(--rct-indian-red-4); }
    body.skin-vector div.mw-page-container #content .vector-page-toolbar {
      background-color: var(--rct-indian-red-6);
      border-left: 1px solid var(--rct-indian-red-8);
      border-right: 1px solid var(--rct-indian-red-4);
      border-bottom: 0;
      padding-left: 2px;
      padding-right: 2px; }
      body.skin-vector div.mw-page-container #content .vector-page-toolbar .vector-page-toolbar-container {
        box-shadow: none; }
      body.skin-vector div.mw-page-container #content .vector-page-toolbar #left-navigation {
        margin-left: 0; }
      body.skin-vector div.mw-page-container #content .vector-page-toolbar #right-navigation {
        margin-right: 0; }
      body.skin-vector div.mw-page-container #content .vector-page-toolbar .vector-page-toolbar-container {
        border-bottom: 0; }
      body.skin-vector div.mw-page-container #content .vector-page-toolbar .vector-menu-content-list > li {
        margin: 2px 0 -1px 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: var(--rct-grey-6);
        border-top: 1px solid var(--rct-grey-8);
        border-left: 1px solid var(--rct-grey-8);
        border-right: 1px solid var(--rct-grey-4);
        border-bottom: 0;
        height: 44px; }
        body.skin-vector div.mw-page-container #content .vector-page-toolbar .vector-menu-content-list > li a {
          color: white;
          font-weight: bold;
          padding: 13px;
          border-bottom: 0 !important; }
        body.skin-vector div.mw-page-container #content .vector-page-toolbar .vector-menu-content-list > li.selected {
          background: var(--rct-white);
          border-top: 1px solid var(--rct-grey-9);
          border-left: 1px solid var(--rct-grey-9);
          border-right: 1px solid var(--rct-grey-5); }
          body.skin-vector div.mw-page-container #content .vector-page-toolbar .vector-menu-content-list > li.selected a {
            color: black; }
        body.skin-vector div.mw-page-container #content .vector-page-toolbar .vector-menu-content-list > li:not(.selected) {
          border-bottom-right-radius: 3px; }
        body.skin-vector div.mw-page-container #content .vector-page-toolbar .vector-menu-content-list > li .mw-ui-icon {
          margin-top: 0; }
    body.skin-vector div.mw-page-container #content #bodyContent {
      background-color: var(--rct-white);
      padding: 1.0em;
      border-left: 1px solid var(--rct-grey-8);
      border-right: 1px solid var(--rct-grey-5);
      border-bottom: 1px solid var(--rct-grey-5); }
      body.skin-vector div.mw-page-container #content #bodyContent #mw-content-text {
        margin-top: 0; }
  body.skin-vector #vector-main-menu-dropdown-checkbox {
    background-color: var(--rct-grey-7);
    border-top: 1px solid var(--rct-grey-8);
    border-left: 1px solid var(--rct-grey-8);
    border-right: 1px solid var(--rct-grey-5);
    border-bottom: 1px solid var(--rct-grey-5);
    font-weight: bold;
    color: white; }
  body.skin-vector .vector-limited-width-toggle {
    background-color: var(--rct-grey-7);
    border-top: 1px solid var(--rct-grey-8);
    border-left: 1px solid var(--rct-grey-8);
    border-right: 1px solid var(--rct-grey-5);
    border-bottom: 1px solid var(--rct-grey-5);
    font-weight: bold;
    color: white; }

.main-page-game-thumbnail,
.main-page-addon-thumbnail {
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #222;
  overflow: hidden; }

.main-page-game-thumbnail {
  width: 140px;
  height: 140px; }

.main-page-addon-thumbnail {
  width: 120px;
  height: 120px; }

div.ridebox-list {
  display: flex;
  flex-wrap: wrap; }
  div.ridebox-list > table.ridebox {
    background-color: white;
    border-top: 1px solid var(--rct-grey-9);
    border-left: 1px solid var(--rct-grey-9);
    border-right: 1px solid var(--rct-grey-5);
    border-bottom: 1px solid var(--rct-grey-5);
    margin: 5px;
    border-radius: 4px; }
    div.ridebox-list > table.ridebox img {
      margin-top: 1.0em;
      -webkit-mask-image: url(https://static.miraheze.org/rctwiki/9/93/Feathered-border.png);
      mask-image: url(https://static.miraheze.org/rctwiki/9/93/Feathered-border.png);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat; }

/*# sourceMappingURL=Common.css.map */
